footer {
    display: flex;
    height: 10vh;
    background-color: rgb(72, 80, 107);;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 1vh 5vw;
}

@media only screen and (max-width: 650px) {
    footer {
        font-size: .8rem;
    }
}