<div class="main">
  <h1>Our Work</h1>
    <ul class="p-4 space-x-4 ">
      <li>Basic Web</li>
      <li>Growth Web</li>
      <li>Elite Web</li>
      <li>Shop Web</li>
      <li>Enterprise Web</li>
    </ul>
  <div class="examples">
    <mat-card
      class="card"
      style="background-image: linear-gradient(
        rgba(0, 0, 0, 0.438) 70%,
        rgba(0, 0, 0, 0.438) 95%
      ), url({{ cards.image }})"
      *ngFor="let cards of websites"
    >
      <p>{{ cards.name }}</p>
      <button >See More</button>
    </mat-card>
  </div>
</div>
<ng-template class="websiteCard" #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{currentWebsite.name}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<img src="{{currentWebsite.image}}" alt="">
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>