.examples {
    display: grid;
    grid-template-areas: "1 1 1 1";
    width: auto;
    margin: 0;
}

.card {
    width: 100%;
    background-size: cover;
    background-position: center;

}

.card p {
    color: white;
    text-align: center;
    font-weight: 900;
    padding-top: 60%;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
}



.websiteCard img {
    width: 80vw;
}


