<div class="main">
  <div class="main-service">
    <mat-card *ngFor="let service of services" class="card">
      <img src="{{ service.img }}" alt="" />
      <h3>{{ service.name }}</h3>
      <p>{{ service.description }}</p>
      <ul class="list-disc ps-2" >
        <li *ngFor="let a of service.list">{{ a }}</li>
      </ul>
      <div class="buttons">
        <p>
          STARTING AT: <span>{{ service.price }}</span>
        </p>
      </div>
      <div class="btns p-1"><a href="{{ service.link }}">Learn More</a></div>
    </mat-card>
  </div>
  <div class="addServ">
    <h3>Additional Services</h3>
    <div class="addSer flex content-around justify-center gap-20"   >
      <div class="cards">
        <img src="" alt="">
        <h4>Website Services</h4>
      </div>
      <div class="cards">
        <img src="" alt="">
        <h4>Website Updates</h4>
      </div>
      <div class="cards">
        <img src="" alt="">
        <h4>SEO Services</h4>
      </div>
      <div class="cards">
        <img src="" alt="">
        <h4>Analytics Reporting</h4>
      </div>
    </div>
  </div>
</div>
