/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-content {
    justify-content: center !important;
    align-items: center !important;
    width: 85vw ;
    background-color:#fff8ef  ;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #838085 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #838085;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  @media only screen and (max-width: 650px) {
    
    .modal-content {
      width: 95vw;
    }

  }