<header>
	<nav class="navbar">
	  <div class="navbar_container">
		<a class="navbar-brand"><img src="/assets/2.png" alt=""></a>
		<div
		  class="navbar__toggle"
		  id="mobile-menu"
		  class="{{ mobileM }}"
		  (click)="mobile()"
		>
		  <span class="bar"></span>
		  <span class="bar"></span>
		  <span class="bar"></span>
		</div>
		<ul class="nav" class="navbar_menu" class="{{ mobileMenu }}">
		  <li class="nav-item" class="navbar__item" (click)="mobile()">
			<a class="nav-link" (click)="ScrollService.goTo('home')">Home</a>
		  </li>
		  <li class="nav-item" class="navbar__item" (click)="mobile()">
			<a class="nav-link" (click)="ScrollService.goTo('services')"
			  >Services</a
			>
		  </li>
		  <li class="nav-item" class="navbar__item" (click)="mobile()">
			<a class="nav-link" (click)="ScrollService.goTo('OurWork')"
			  >Our Work</a
			>
		  </li>
		  <li class="nav-item" class="navbar__item" (click)="mobile()">
			<a (click)="ScrollService.goTo('contactUs')" class="nav-link">Contact Us</a>
		</ul>
		
	  </div>
	</nav>
  </header>